/* Custom Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@font-face {
  font-family: 'BoxedRound';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/BoxedRound.ttf')
}

@font-face {
  font-family: 'Evogria';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/Evogria.otf')
}

@font-face {
  font-family: 'Designer';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/Designer.otf')
}

@font-face {
  font-family: 'AmericanPatriot';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/AmericanPatriot.otf')
}

@font-face {
  font-family: 'BebasKai';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/BebasKai.otf')
}

@font-face {
  font-family: 'Brigends';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/Brigends.otf')
}

@font-face {
  font-family: 'Sporta';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/Sporta.ttf')
}

@font-face {
  font-family: 'Gobold';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/Gobold.otf')
}

@font-face {
  font-family: 'AlienEnergy';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/AlienEnergy.otf')
}

@font-face {
  font-family: 'IONC';
  src: url('https://raw.githubusercontent.com/Juliroo/CreativeTeam/refs/heads/main/fonts/IONC-Regular.ttf')
}

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  font-weight: 300;
  user-select: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: .3vw;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: .5vh;
}

::-webkit-scrollbar-thumb {
  background: #17171700;
  border-radius: .5vh;
}

/* Container Background Effect */
#container::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  background: rgba(8, 8, 8, 0.75);
  filter: blur(.25vh);
  border-radius: .5vh;
}

/* Animations */
.onExit {
  animation: fadeOutRight 0.4s ease-in-out forwards !important;
}

/* Button Styles */
.button {
  width: auto;
  height: 12%;
  font-family: 'Nunito';
  background-color: #ffffff10;
  color: rgb(190, 190, 190);
  position: relative;
  top: 10%;
  overflow: hidden;
  padding: 1vh;
  border-radius: .3vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  transition: 0.25s;
}

.button:not(:first-child) {
  margin-top: .51vh;
}

.button .icon {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-size: 2.45vh;
  transition: .3s;
}

.button .icon i {
  color: rgb(202, 202, 202);
  text-shadow: 0 0 .14vh rgb(202, 202, 202);
  width: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.icon i {
  margin-left: .2vh;
}

.button-selected {
  transform: scale(1.01125);
  background: linear-gradient(44deg, rgba(5, 94, 67, 0.932), rgba(5, 51, 94, 0.706));
  color: rgb(255, 255, 255);
  transition: .3s;
}

.button-selected .icon i {
  margin-right: .55vh;
}

.disabled {
  opacity: .4;
}

/* Column for button content */
.column {
  display: flex;
  flex-direction: column;
}

/* Text Styles */
div>.text {
  font-size: 0.75rem;
  overflow: hidden;
}

div>.header {
  display: flex;
  color: rgba(245, 245, 245, 0.9);
  font-size: 1.5vh;
  letter-spacing: .015vw;
  font-family: 'BebasKai';
}

div>.header i {
  margin-right: .4vw;
}

/* Title Styles */
#title {
  position: relative;
  top: .1vh;
  margin-bottom: -.2vh;
  left: .7vw;
  width: auto !important;
  font-family: 'Alienenergy';
  letter-spacing: 2px;
  font-weight: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 0 0 1vh #036749bf;
  background: -webkit-linear-gradient(#0DC58D, #0BC8CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: .15vw;
  font-size: 1.7vh;
  max-width: 50%;
}

/* Icon Animation Effects */
.click {
  color: #38DAAF !important;
  text-shadow: 0 0 .15vh #38DAAF !important;
}

.scroll {
  color: #38DAAF !important;
  text-shadow: 0 0 .15vh #38DAAF !important;
}